---
layout: default
---

<article class="center measure-wide f5 lh-copy">
  <img src="{{ page.cover-image }}" />
  <h1 class="f3 measure lh-title">{{ page.title }}</h1>
  <p class="f5 dark-grey lh-title"> {{ page.date | date: "%B %e, %Y" }}</p>

  <div class="f5 f4-ns lh-copy measure">
   {{ content }}
  </div>

{% if page.layout != 'index' %}
{% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
{% if posts.size == 0 %}
    {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
{% endif %}
{% if posts.size > 1 %}
<footer>
    <em>Read this page in a different language:</em>
    <ul class="list pa0">
    {% for post in posts %}
    <li><a class="link" href="{{ site.base-url }}{{ post.url }}" class="{{ post.lang }}" title="View in {{post.lang}}">{{ site.data.languages[post.lang].icon }} {{ site.data.languages[post.lang].label }}</a></li>
    {% endfor %}
    </ul>
</footer>
{% endif %}
{% endif %}

  {% include disqus.html %}
</article>
